{{define "header"}}
<!DOCTYPE html>
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>职业梦微信公众号管理平台</title>
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"
    />
    <!--[if lt IE 9]>
      <link rel="stylesheet" type="text/css" href="static/plugins/jquery-ui/jquery.ui.1.10.2.ie.css"
      />
    <![endif]-->
    <link href="static/css/main.css" rel="stylesheet" type="text/css" />
    <link href="static/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="static/css/plugins/select2.css" rel="stylesheet" type="text/css" />
    <link href="static/css/plugins/uniform.css" rel="stylesheet" type="text/css" />
    <link href="static/css/responsive.css" rel="stylesheet" type="text/css"
    />
    <link href="static/css/icons.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="static/css/fontawesome/font-awesome.min.css">
    <!--[if IE 7]>
      <link rel="stylesheet" href="static/css/fontawesome/font-awesome-ie7.min.css">
    <![endif]-->
    <!--[if IE 8]>
      <link href="static/css/ie8.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link href='http://fonts.useso.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="static/js/libs/jquery-1.10.2.min.js">
    </script>
    <script type="text/javascript" src="static/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js">
    </script>
    <script type="text/javascript" src="static/bootstrap/js/bootstrap.min.js">
    </script>
    <script type="text/javascript" src="static/js/libs/lodash.compat.min.js">
    </script>
    <!--[if lt IE 9]>
      <script src="static/js/libs/html5shiv.js">
      </script>
    <![endif]-->
    <script type="text/javascript" src="static/plugins/touchpunch/jquery.ui.touch-punch.min.js">
    </script>
    <script type="text/javascript" src="static/plugins/event.swipe/jquery.event.move.js">
    </script>
    <script type="text/javascript" src="static/plugins/event.swipe/jquery.event.swipe.js">
    </script>
    <script type="text/javascript" src="static/js/libs/breakpoints.js">
    </script>
    <script type="text/javascript" src="static/plugins/respond/respond.min.js">
    </script>
    <script type="text/javascript" src="static/plugins/cookie/jquery.cookie.min.js">
    </script>
    <script type="text/javascript" src="static/plugins/slimscroll/jquery.slimscroll.min.js">
    </script>
    <script type="text/javascript" src="static/plugins/slimscroll/jquery.slimscroll.horizontal.min.js">
    </script>
    <!--[if lt IE 9]>
      <script type="text/javascript" src="static/plugins/flot/excanvas.min.js">
      </script>
    <![endif]-->
    <script type="text/javascript" src="static/plugins/sparkline/jquery.sparkline.min.js">
    </script>
    <script type="text/javascript" src="static/plugins/flot/jquery.flot.min.js">
    </script>
    <script type="text/javascript" src="static/plugins/flot/jquery.flot.tooltip.min.js">
    </script>
    <script type="text/javascript" src="static/plugins/flot/jquery.flot.resize.min.js">
    </script>
    <script type="text/javascript" src="static/plugins/flot/jquery.flot.time.min.js">
    </script>
    <script type="text/javascript" src="static/plugins/flot/jquery.flot.growraf.min.js">
    </script>
    <script type="text/javascript" src="static/plugins/easy-pie-chart/jquery.easy-pie-chart.min.js">
    </script>
    <script type="text/javascript" src="static/plugins/daterangepicker/moment.min.js">
    </script>
    <script type="text/javascript" src="static/plugins/daterangepicker/daterangepicker.js">
    </script>
    <script type="text/javascript" src="static/plugins/blockui/jquery.blockUI.min.js">
    </script>
    <script type="text/javascript" src="static/plugins/fullcalendar/fullcalendar.min.js">
    </script>
    <script type="text/javascript" src="static/plugins/noty/jquery.noty.js">
    </script>
    <script type="text/javascript" src="static/plugins/noty/layouts/top.js">
    </script>
    <script type="text/javascript" src="static/plugins/noty/themes/default.js">
    </script>
    <script type="text/javascript" src="static/plugins/uniform/jquery.uniform.min.js">
    </script>
    <script type="text/javascript" src="static/plugins/select2/select2.min.js">
    </script>
    <script type="text/javascript" src="static/plugins/datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="static/plugins/datatables/DT_bootstrap.js"></script>
    <script type="text/javascript" src="static/js/app.js">
    </script>
    <script type="text/javascript" src="static/js/plugins.js">
    </script>
    <script type="text/javascript" src="static/js/plugins.form-components.js">
    </script>
    <script>
      $(document).ready(function() {
        App.init();
        Plugins.init();
        FormComponents.init()
      });
    </script>
    <script type="text/javascript" src="static/js/custom.js">
    </script>
    <script type="text/javascript" src="static/js/demo/pages_calendar.js">
    </script>
    <script type="text/javascript" src="static/js/demo/charts/chart_filled_blue.js">
    </script>
    <script type="text/javascript" src="static/js/demo/charts/chart_simple.js">
    </script>
  </head>
  <body>
    <header class="header navbar navbar-fixed-top" role="banner">
      <div class="container">
        <ul class="nav navbar-nav">
          <li class="nav-toggle">
            <a href="javascript:void(0);" title="">
              <i class="icon-reorder">
              </i>
            </a>
          </li>
        </ul>
        <a class="navbar-brand" href="index.html">
          <img src="static/img/logo.png" alt="logo" />
          <strong>
            Welcome 
          </strong>
          {{.email}}
        </a>
        <a href="#" class="toggle-sidebar bs-tooltip" data-placement="bottom"
        data-original-title="Toggle navigation">
          <i class="icon-reorder">
          </i>
        </a>
        <ul class="nav navbar-nav navbar-left hidden-xs hidden-sm">
          <li>
            <a href="#">
              控制台
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown hidden-xs hidden-sm">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="icon-envelope">
              </i>
              <span class="badge">
                1
              </span>
            </a>
            <ul class="dropdown-menu extended notification">
              <li class="title">
                <p>
                  你有3条新消息
                </p>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <span class="photo">
                    <img src="static/img/demo/avatar-1.jpg" alt="" />
                  </span>
                  <span class="subject">
                    <span class="from">
                      Bob Carter
                    </span>
                    <span class="time">
                      Just Now
                    </span>
                  </span>
                  <span class="text">
                    Consetetur sadipscing elitr...
                  </span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <span class="photo">
                    <img src="static/img/demo/avatar-2.jpg" alt="" />
                  </span>
                  <span class="subject">
                    <span class="from">
                      Jane Doe
                    </span>
                    <span class="time">
                      45 mins
                    </span>
                  </span>
                  <span class="text">
                    Sed diam nonumy...
                  </span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <span class="photo">
                    <img src="static/img/demo/avatar-3.jpg" alt="" />
                  </span>
                  <span class="subject">
                    <span class="from">
                      Patrick Nilson
                    </span>
                    <span class="time">
                      6 hours
                    </span>
                  </span>
                  <span class="text">
                    No sea takimata sanctus...
                  </span>
                </a>
              </li>
              <li class="footer">
                <a href="javascript:void(0);">
                  View all messages
                </a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="project-switcher-btn dropdown-toggle">
              <i class="icon-folder-open">
              </i>
              <span>
                快速入口
              </span>
            </a>
          </li>
          <li class="dropdown user">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="icon-male">
              </i>
              <span class="username">
                John Doe
              </span>
              <i class="icon-caret-down small">
              </i>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="login.html">
                  <i class="icon-key">
                  </i>
                  退出
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div id="project-switcher" class="container project-switcher">
        <div id="scrollbar">
          <div class="handle">
          </div>
        </div>
        <div id="frame">
          <ul class="project-list">
            <li>
              <a href="javascript:void(0);">
                <span class="image">
                  <i class="icon-desktop">
                  </i>
                </span>
                <span class="title">
                  自定义菜单
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
                <span class="image">
                  <i class="icon-compass">
                  </i>
                </span>
                <span class="title">
                  文本消息
                </span>
              </a>
            </li>
            <li class="current">
              <a href="javascript:void(0);">
                <span class="image">
                  <i class="icon-male">
                  </i>
                </span>
                <span class="title">
                  图文消息
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
                <span class="image">
                  <i class="icon-thumbs-up">
                  </i>
                </span>
                <span class="title">
                  微信绑定用户
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
                <span class="image">
                  <i class="icon-female">
                  </i>
                </span>
                <span class="title">
                  所有关注用户
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
                <span class="image">
                  <i class="icon-beaker">
                  </i>
                </span>
                <span class="title">
                  关键字管理
                </span>
              </a>
            </li>  
          </ul>
        </div>
      </div>
    </header>
    <div id="container">
      <div id="sidebar" class="sidebar-fixed">
        <div id="sidebar-content">
          <div class="sidebar-search-results">
            <i class="icon-remove close">
            </i>
            <div class="title">
              Documents
            </div>
            <ul class="notifications">
              <li>
                <a href="javascript:void(0);">
                  <div class="col-left">
                    <span class="label label-info">
                      <i class="icon-file-text">
                      </i>
                    </span>
                  </div>
                  <div class="col-right with-margin">
                    <span class="message">
                      <strong>
                        John Doe
                      </strong>
                      received $1.527,32
                    </span>
                    <span class="time">
                      finances.xls
                    </span>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <div class="col-left">
                    <span class="label label-success">
                      <i class="icon-file-text">
                      </i>
                    </span>
                  </div>
                  <div class="col-right with-margin">
                    <span class="message">
                      My name is
                      <strong>
                        John Doe
                      </strong>
                      ...
                    </span>
                    <span class="time">
                      briefing.docx
                    </span>
                  </div>
                </a>
              </li>
            </ul>
            <div class="title">
              Persons
            </div>
            <ul class="notifications">
              <li>
                <a href="javascript:void(0);">
                  <div class="col-left">
                    <span class="label label-danger">
                      <i class="icon-female">
                      </i>
                    </span>
                  </div>
                  <div class="col-right with-margin">
                    <span class="message">
                      Jane
                      <strong>
                        Doe
                      </strong>
                    </span>
                    <span class="time">
                      21 years old
                    </span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <ul id="nav">
            <li class="current">
              <a href="index.html">
                <i class="icon-dashboard">
                </i>
                控制台
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
                <i class="icon-desktop">
                </i>
               微配置中心
              </a>
              <ul class="sub-menu">
                <li>
                  <a href="/weChat/accountCenter">
                    <i class="icon-angle-right">
                    </i>
                    公众账号管理
                  </a>
                </li>
                <li>
                  <a href="/weChat/customMenu">
                    <i class="icon-angle-right">
                    </i>
                    自定义菜单
                  </a>
                </li>
                <li>
                  <a href="/weChat/subscribeWelcome">
                    <i class="icon-angle-right">
                    </i>
                    关注欢迎语
                  </a>
                </li>
                <li>
                  <a href="/weChat/keyWord">
                    <i class="icon-angle-right">
                    </i>
                    关键字管理
                  </a>
                </li>
                <li>
                  <a href="/weChat/notKnowReply">
                    <i class="icon-angle-right">
                    </i>
                    未识别回复语
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="javascript:void(0);">
                <i class="icon-edit">
                </i>
               微用户管理
              </a>
              <ul class="sub-menu">
                <li>
                  <a href="/weChat/subscribeUsers">
                    <i class="icon-angle-right">
                    </i>
                    所有关注用户
                  </a>
                </li>
                <li>
                  <a href="/weChat/bindingUsers">
                    <i class="icon-angle-right">
                    </i>
                    微信绑定用户
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="javascript:void(0);">
                <i class="icon-table">
                </i>
                微消息素材
              </a>
              <ul class="sub-menu">
                <li>
                  <a href="/weChat/textMessage">
                    <i class="icon-angle-right">
                    </i>
                    文本消息
                  </a>
                </li>
                <li>
                  <a href="/weChat/newsMessage">
                    <i class="icon-angle-right">
                    </i>
                    图文消息
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          <div class="sidebar-title">
            <span>
              提示
            </span>
          </div>
          <div class="sidebar-widget align-center">
            <div class="btn-group" data-toggle="buttons" id="theme-switcher">
              <label class="btn active">
                <input type="radio" name="theme-switcher" data-theme="bright">
                <i class="icon-sun">
                </i>
                白天
              </label>
              <label class="btn">
                <input type="radio" name="theme-switcher" data-theme="dark">
                <i class="icon-moon">
                </i>
                夜晚
              </label>
            </div>
          </div>
        </div>
        <div id="divider" class="resizeable">
        </div>
      </div>
      <div id="content">
        <div class="container">
          <div class="crumbs">
            <ul id="breadcrumbs" class="breadcrumb">
              <li>
                <i class="icon-home">
                </i>
                <a href="index.html">
                  控制台
                </a>
              </li>
            </ul>
      </div>
{{end}}
{{define "footer"}}
    </div>
    </div>
    </div>
  </body>
</html>
{{end}}